<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
    div {
      background-color: lightgrey;
      width: 300px;
      border: 15px  ;
      padding: 50px;
      margin: 20px;
    }
    table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>

        <%if(key=="update"){%>
            <form action="/updateUserInfo" method="post" name="form1">

                <div class="form-group">
                    <label for="exampleInputEmail1"><center><b>User Details</b></center></label><a href='/adminHomePage'>Back To Home</a></br></br>
                  
                     
                    <% if(details.length>0){%>
                User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" id="id" name="id" value="<%= details[0].id %>" readonly="readonly"></br></br>
                First Name :&nbsp;<input type="text" id="firstname" name="firstname" value="<%= details[0].firstname %>" ></br></br>
                Last Name : &nbsp;<input type="text" id="lastname" name="lastname" value="<%= details[0].lastname %>" ></br></br>
                User name : &nbsp;<input type="text" id="userName" name="userName" value="<%= details[0].userName %>" ></br>
               <br><br>
           
                   <%}%>
                </br>
            <input type="submit" class="btn btn-primary" value="Update User"></br>
        </form>
            <%}else{%>
                <form action="/deleteUser" method="post" name="form1">

                    <div class="form-group">
                        <label for="exampleInputEmail1"><center><b>User Details</b></center></label><a href='/adminHomePage'>Back To Home</a></br></br>
                      
                        <%if(details.length>0){%>
                    User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" id="id" name="id" value="<%= details[0].id %>" readonly="readonly"></br></br>
                    First Name :&nbsp;<input type="text" id="firstname" name="firstname" value="<%= details[0].firstname %>" readonly="readonly"></br></br>
                    Last Name : &nbsp;<input type="text" id="lastname" name="lastname" value="<%= details[0].lastname %>" readonly="readonly"></br></br>
                    User name : &nbsp;<input type="text" id="userName" name="userName" value="<%= details[0].userName %>" readonly="readonly"></br>
                   <br><br>
               
                       <%}%></br>
        <input type="submit" class="btn btn-primary" value="Delete User"></br>
    </form>
        <%}%>
</div>




</body>
</html>